---
import {Weather} from "../enums/Weather";
import {weatherIcon} from "../services/WeatherIconService";

import {Image} from 'astro:assets';
import {Icon} from 'astro-icon/components'

export interface Props {
    temperature: number;
    precipitation: number;
    weather: Weather;
}

const {temperature, precipitation, weather} = Astro.props;
const icon = weatherIcon(weather)
---
<div class="weather-card">
    <div class="icon-container">
        <Image src={icon} alt="weather-icon" loading="eager"/>
    </div>
    <div class="separator"></div>
    <div class="weather-info">
        <span>
            <Icon name="wi:thermometer" size="32"/>
            {temperature} °C
        </span>
        <br/>
        <span>
            <Icon name="wi:flood" size="32"/>
            {precipitation} mm
        </span>
    </div>
</div>
<style>
    .weather-card {
        max-width: 200px;
        display: flex;
        align-items: center;
        border: 1px solid black;
        border-radius: 5px;
    }

    .icon-container {
        padding: 1rem;
    }

    .separator {
        border-left: 1px solid black;
        height: 100px;
    }

    .weather-info {
        padding: 1rem;
    }
</style>